@import './reset.css';

section {
  width: 100%;
  height: 100vh;
  background: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/21fbc51f80876ec00ca761502b9faea4.jpg');
}

.user-card {
  width: 420px;
  height: 450px;
  background: #242424;
  opacity: 0.9;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3,
p {
  /* text-align: center; */
  text-transform: capitalize;
  font-family: sans-serif;
}
h1 {
  color: whitesmoke;
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}
h2 {
  font-size: 18px;
  font-weight: normal;
  color: #05a61e;
  margin-top: 20px;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  color: #718293;
  margin-top: 25px;
}

p {
  font-size: 24px;
  font-weight: normal;
  color: #b2d6d6;
  margin-top: 25px;
}
.user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* margin: auto; */
  border: 4px solid whitesmoke;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Параметры тени */
  margin-top: -14.3%;
  object-fit: cover;
}

hr {
  /* margin-top: 20px; */
  width: 80%;
}
.followers {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
}
.follower-ico {
  width: 60px;
  height: 60px;
  border-left: 1px solid white;
  border-radius: 50%;
  border: 2px solid rgb(18, 192, 140);
  box-shadow: 0 0 10px rgba(18, 192, 140, 0.5);
  object-fit: cover;
  cursor: pointer;
}

.social-network {
  /* display: flex; */
  margin-top: 40px;
}
.social-network-img {
  width: 30px;
  height: 30px;
  border-left: none;
  cursor: pointer;
  padding-left: 12px;
}

.social-network-img + .social-network-img {
  border-left: 2px solid white;
  border-style: dotted;
  margin-left: 10px;
}
